body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: large;
  background-image: url(backgroundform.jpg);
  /*Image address from the internet:https://cdn.wallpapersafari.com/68/33/valD7x.jpg*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin: 0px;
  color: black;



}

form {
  background-color: rgba(13,71,161,0.75);
  border: thin #0D47A1;
  border-radius: 10px;
  text-align: left;
  max-width: 670px;
  margin: 50px auto 150px auto;
  padding: 70px 50px 80px 50px;
  line-height: 2;
  box-shadow: -webkit-box-shadow: 1px 20px 21px 13px rgba(0,0,0,0.43);
-moz-box-shadow: 1px 20px 21px 13px rgba(0,0,0,0.43);
box-shadow: 1px 20px 21px 13px rgba(0,0,0,0.43);
  color: white;


}

header h1 {
  font-size: 150%;
}
header p {
  font-style: italic;
}


.sized {
  min-width: 650px;
  height: 34px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  padding-left: 6px;
  margin: auto;
}

#submit {
  color: white;
  background-color: #2ECC71;
  height: 40px;

}
#submit:hover {
  background-color: #D5F5E3;
  color: black;
}
#file {
  border-radius: 5px;
  border: none;
  font-size: 17px;

}
